@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@import "tailwindcss";

@theme {
  --font-ubuntu: "Ubuntu", "sans-serif";
  --font-primary: "Titillium", "sans-serif";
  --breakpoint-3xl: 120rem;

  /* Custom Color Started */
  --color-primary: #28cb8b;
  --color-secondary: #263238;
  /*  Custom Color End */
  /* --shadow-text:   0_4px_6px_rgba(0,0,0,0.5) */

  /* --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1); */
  /* ... */
}

html,
body {
  overflow-x: hidden;
  height: 100%;
}
